<link rel="stylesheet" href="septima-parte.component.css">



<div class="body">

    <h6 class="inicio-proyect">Iniciemos un proyecto</h6>

    <h4 class="esedor">Por donde escuchaste sobre Esedor</h4>

    <form class="formulario">

        <div class="form-group">

            <input type="text" class="nombres" placeholder="nombres ">

        </div>
        <div class="form-group">

            <input type="text" class="apellidos" placeholder="apellidos">

        </div>
        <div class="form-group">

            <input type="email" class="correo" placeholder="direccion de correo electronico">

        </div>
        <div class="form-group">

            <input type="tel" class="numero" placeholder="numero de telefono o celular">

        </div>
        <div class="form-group">

            <input type="text" class="cargo" placeholder="empresa y cargo">

        </div>
        <div class="form-group">

            <input type="text" class="tiempo" placeholder="tiempo de entrega">

        </div>

        <div class="form-group">

            <textarea class="descripcion" lang="es-ES" placeholder="Describe tu proyecto aqui..." ></textarea>

        </div>

        <h5 class="escribenos">Tambien puedes escribirnos directamente a 

            <a href=""> hola@esedor.com</a></h5>



    </form>
</div>