<link rel="stylesheet" href="header.component.css">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lexend+Zetta:wght@100;400&display=swap" rel="stylesheet">

<div>
<img src="../../../assets/img/image 62.png" style="height: 30.1675968170166px;" alt="">
<h5 class="esedor">esedor</h5>



</div>
<img class="line-1" src="../../../assets/img/Linea-grande.png" alt="">
<img class="line-2" src="../../../assets/img/linea-chica.png" alt="">
<img class="line-3" src="../../../assets/img/linea-grande2.png" alt="">
<h5 class="industrias">industrias</h5>
<div>

<div class="cliente">
    <h5>cliente</h5>
</div>

<div class="date">
    <p> DATE <br>
         28 FEB 2021</p>
</div>




    <h2 class="titu-princi">Primax Solutions</h2>


  




<img class="img-cel" src="../../../assets/img/Rectangle.png">


<div class="entegables">

    <h2>ENTREGABLES</h2>
    <p>ENTREGABLES

        INTEGRATED CAMPAIGN
        HYPE FILM
        TECH FILM
        KEY VISUAL
        SOCIAL TEASERS
        </p>

</div>

<div class="role">
    

    <h2> ROLE</h2>

    <p>
   

    STRATEGY
    CONCEPT
    ART DIRECTION
    DESIGN
    PRODUCTION

</p>
    
</div>

<div class="prixa">

    <h3>Primax y el reto</h3>
    <p>
        During these uncertain times, many of us find ourselves in introspection mode, with new ideas and resolving to do better. We wish we could help everyone and fix everything. So let's try to focus on aspects of ourselves that we can change or improve, in hopes that these simple actions can help create a better normal.</p>
</div>

<div class="esedor-2">

    <h3>El trabajo de Esedor</h3>
 
    <p>
        During these uncertain times, many of us find ourselves in introspection mode, with new ideas and resolving to do better. We wish we could help everyone and fix everything. So let's try to focus on aspects of ourselves that we can change or improve, in hopes that these simple actions can help create a better normal.
    </p>


</div>

